<div id="<%= dom_id truck %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= truck.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Model:</strong>
    <%= truck.model %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Plate:</strong>
    <%= truck.plate %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= truck.description %>
  </div>
</div>
