<div class="card mt-3">
  <div class="card-header">
    <%= cost_type.name %>
  </div>
  <div class="card-body">
    <div class="row">
      <%= cost_type.description %>
    </div>
    <div class="flex">
      <%= link_to "Show", cost_type %>
      <%= link_to "Edit", edit_cost_type_path(cost_type) %>
      <%= button_to "Destroy", cost_type, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
    </div>
  </div>
</div>
