<%= form_with(model: cost, class: "contents") do |form| %>
  <% if cost.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(cost.errors.count, "error") %> prohibited this cost from being saved:</h2>

      <ul class="list-disc ml-6">
        <% cost.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :travel_id, value: cost.travel_id || params[:travel_id] %>

  <div class="form-group">
    <%= form.label :cost_type_id, style: "display: block" %>
    <%= form.select :cost_type_id, @cost_types.map{|cost_types| [cost_types.name, cost_types.id]}, include_blank: 'Selecione' %>
  </div>

  <div class="my-5">
    <%= form.label :value %>
    <%= form.text_field :value, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": cost.errors[:value].none?, "border-red-400 focus:outline-red-600": cost.errors[:value].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
