<div id="<%= dom_id trailer %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= trailer.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Model:</strong>
    <%= trailer.model %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Plate:</strong>
    <%= trailer.plate %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= trailer.description %>
  </div>
</div>
