<%= form_with(model: vehicle, class: "contents") do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul class="list-disc ml-6">
        <% vehicle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :company_id, style: "display: block" %>
    <%= form.select :company_id, @companies.map{|company| [company.name, company.id]}, include_blank: 'Selecione', class: 'form-control' %>
  </div>


  <div class="form-group">
    <%= form.label :truck_id, style: "display: block" %>
    <%= form.select :truck_id, @trucks.map{|truck| [truck.name, truck.id]}, include_blank: 'Selecione', class: 'form-control' %>
  </div>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: 'form-control' %>
  </div>

  <div class="inline">
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
